body {
    background-image: url('../ecailles.png');
    background-color: darkcyan;
}

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}

.container {
    background-color: white !important;
}

label {
    font-weight: lighter;
}

.ra-perspective-dice-one {
    color: #9b221b;
}
.gold {
    color:gold;
}
.silver {
    color:silver;
}
.copper {
    color: #914d24;
}
.spacer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.border {
    border: 1px ridge;
    padding: 10px;
}