<h1>{{ char.name }}</h1>
<ul>
    <li><p>Level {{ char.level }} {{ char.character_class }}</p></li>
    <li><p>{{ char.alignment }} {{ char.gender }} {{ char.race }}</p></li>
</ul>
<p>STATS</p>
<ul>
    <li>STR: {{ char.STR }}</li>
    <li>DEX: {{ char.DEX }}</li>
    <li>CON: {{ char.CON }}</li>
    <li>CHA: {{ char.CHA }}</li>
    <li>INT: {{ char.INT }}</li>
    <li>WIS: {{ char.WIS }}</li>
</ul>
<ul>
    <li>FORT: {{ char.fort_save }}</li>
    <li>WILL: {{ char.will_save }}</li>
    <li>REFLEX: {{ char.reflex_save }}</li>
</ul>
<ul>
    <li>HP: {{ char.HP }}</li>
    <li>Base Attack Bonus: {{ char.BAB }}</li>
    <li>CMB: {{ char.CMB }}</li>
    <li>CMD: {{ char.CMD }}</li>

</ul>
<a href="./character_update/">Update</a>
<a href="./character_delete/">Delete</a>